nav#languages {
  position: fixed;
  display: flex;
  width: 100%;
  height: 30px;
  top: 0;
  font-size: $t-small;
  background-color: $c-dark-blue;
  text-align: center;
  z-index: 10000;

  menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: transform 0.25s;

    &.squeeze {
      transform: scaleX(0);
    }

    li {
      // display: inline-block;
      // width: 30px;

      a {
        color: #fff;
        background-image: none;
      }
      a.active {
        color: $c-light-green;
        text-decoration: underline;
      }
    }
    li.home-btn {
      flex-grow: 1;
      padding-left: 15px;
      white-space: nowrap;
      text-align: left;
      list-style-type: none;
      a {
        color: $c-light-green;
      }
    }
    li.options {
      flex-grow: 1;
      ul {
        li {
          display: inline-block;
        }
      }
    }
    li.disabled {
      a {
        color: $c-mid-grey;
        cursor: default;
      }
      a.active {
        text-decoration: underline;
      }
    }
    li.user-id {
      flex-grow: 1;
      padding-right: 15px;
      text-align: right;
      color: #fff;
      list-style-type: none;
      u {
        color: $c-light-green;
      }
    }
  }
}
button#expand-nav {
  position: fixed;
  display: block;
  top: 37.5px;
  left: 10px;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  border: 1px solid $c-light-2;
  outline: none;
  background-color: #fff;
  z-index: 100000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;

  .line {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background-color: $c-light-grey;
    transition:
      transform 0.25s,
      width 0.25s;
  }
  .l1 {
    width: 20px;
    transform: translate(12px, 15px) rotate(0deg);
    transform-origin: center;
    transition-delay: 0.1s;
  }
  .l2 {
    width: 15px;
    transform: translate(14.5px, 20px) rotate(0deg);
    transform-origin: center;
  }
  .l3 {
    width: 10px;
    transform: translate(17px, 25px) rotate(0deg);
    transform-origin: center;
    transition-delay: 0.1s;
  }
}
button#expand-nav.close {
  .l1 {
    width: 25px;
    transform: translate(9.5px, 20.5px) rotate(-45deg);
    transform-origin: center;
  }
  .l2 {
    width: 0;
    transform: translate(22px, 23px) rotate(0deg);
  }
  .l3 {
    width: 25px;
    transform: translate(9.5px, 20.5px) rotate(45deg);
    transform-origin: center;
  }
}
nav.tabs,
nav.pinboard-sections {
  width: calc(300px * 3 + 15px * 2);
  height: 75px;
  margin-left: -15px;
  padding: 0 15px;
  border-bottom: 1px solid $c-dark-blue;
  background-color: #fff;
  z-index: 10000;

  .inner {
    width: 100%;

    div.lg {
      menu,
      ul {
        display: flex;
        width: 100%;
        padding-bottom: 15px;
        scroll-snap-type: x mandatory;
        overflow: auto;

        li {
          position: static;
          display: inline-block;
          vertical-align: top;
          margin: 30px 0 0 0;
          scroll-snap-align: start;

          a {
            display: block;
          }

          button {
            position: relative;
            height: 45px;
            padding: 7px 10px 0 10px;
            outline: none;
            border: none;
            background-color: transparent;
            font-size: $t-mid-small;
            color: $c-light-grey;
            cursor: pointer;
            overflow: hidden;
            white-space: nowrap;

            &.add {
              display: none;
              width: 30px;
              height: 30px;
              margin: 7px 5px 0 -5px;
              background: url('../imgs/icons/i-add.svg');
              border: none;
              outline: none;
              float: right;
              cursor: pointer;
            }

            div {
              display: inline-block;
              outline: none;
            }
            .count {
              position: relative;
              display: inline-block;
              font-size: $t-small;
              margin: 0 0 5px 15px;
              color: $c-light-grey;
            }
            .count::before {
              content: '';
              position: absolute;
              height: 20px;
              width: 0;
              left: -10px;
              top: -2px;
              border-left: 1px dotted $c-light-grey;
            }
            &::after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 3px;
              background-color: $c-light-2;
              transform: translateY(3px);
              transition: transform 0.15s;
            }
          }

          .inner {
            position: relative;

            input[type='text'] {
              position: relative;
              min-width: 100px;
              height: 38px;
              padding: 4.5px 15px 0 15px;
              border: none;
              outline: none;
              background-color: transparent;
              border-bottom: 3px solid transparent;
              font-size: $t-mid-small;
              color: $c-dark-blue;
            }
            label {
              position: absolute;
              left: 15px;
              font-size: $t-mid-small;
              line-height: 1.5em;
              color: $c-light-grey;
              transform: translateY(13.5px);
              transition:
                transform 0.25s,
                font-size 0.25s;

              .count {
                position: relative;
                display: inline-block;
                font-size: $t-small;
                margin: 0 0 5px 15px;
                color: $c-light-grey;
              }
              .count::before {
                content: '';
                position: absolute;
                vertical-align: middle;
                height: 20px;
                width: 0;
                left: -10px;
                top: 0;
                border-left: 1px dotted $c-light-grey;
              }

              &::after {
                content: '';
                position: absolute;
                top: 4px;
                left: 100%;
                margin-left: 10px;
                width: 15px;
                height: 15px;
                background: url('../imgs/icons/i-search-sm.svg');
              }
            }
            input[type='text'] + label {
              width: calc(100% - 50px);
              pointer-events: none;
              white-space: nowrap;
            }
            input[type='text']:focus + label,
            input[type='text'].has-value + label {
              font-size: $t-small;
              line-height: 1.5em;
              transform: translateY(-5px);

              &::after {
                top: 2px;
              }
            }
          }

          .dropdown {
            position: absolute;
            max-height: 0;
            max-width: 300px;
            top: calc(100%);
            background-color: #fff;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
            overflow: auto;
            border-top: 1px solid $c-dark-blue;
            z-index: 100;
            transition: max-height 0.25s ease-out;

            menu {
              display: block;
              width: 100%;
              padding-bottom: 0;
              scroll-snap-type: y mandatory;

              li {
                width: 100%;
                margin: 0;

                a {
                  display: block;
                  position: static;
                  padding: 5px 20px 5px 15px;
                  color: $c-dark-grey;
                  font-size: $t-mid-small;
                  line-height: 1.5em;
                  transform: none;
                  text-align: left;
                  /*white-space: nowrap;*/

                  .count {
                    float: right;
                    text-align: right;
                    color: $c-light-grey;
                  }
                }

                &.highlight {
                  background-color: $c-light-blue;
                  color: $c-dark-grey;

                  a {
                    .count {
                      color: #fff;
                    }
                  }
                }

                &:hover {
                  background-color: $c-light-3;
                }
              }
            }
          }
        }
        li:hover,
        li.active {
          button {
            &::after {
              transform: translateY(0);
            }
          }
          input[type='text'] {
            border-color: $c-light-2;
          }
        }
        li.active {
          button {
            font-weight: bold;
            color: $c-dark-blue;

            .count {
              font-weight: normal;
            }
            &::after {
              background-color: $c-dark-blue;
            }
          }
          input[type='text'] {
            border-color: $c-dark-blue;
          }
        }
        li.editing {
          background-color: $c-light-2;

          a {
            cursor: default;
          }
          button {
            color: $c-dark-blue !important;

            &.add {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}
nav.tabs {
  position: fixed;
  top: 30px;
}
nav.pinboard-sections {
  margin-bottom: 30px;

  .inner {
    div.xl {
      menu {
        li {
          display: flex;
          align-items: center;

          &.editing {
            button {
              .section-title {
                cursor: text;
              }
            }
          }

          div,
          a {
            display: inline-block;
          }
          i.material-icons {
            font-size: $t-main;
            margin-left: 5px;
            cursor: pointer;
          }
        }
      }
    }
  }

  & + .description {
    margin: 45px 0 55px 0 !important;
  }
}
/* THE FOLLOWING IS THE SAME AS THE nav.tabs IN _navigate.m */
nav.tabs.fill-screen {
  position: fixed;
  top: 30px;
  width: 100%;
  height: 60px;
  left: 0;
  margin-left: 0;
  border-bottom: 1px solid $c-dark-blue;
  background-color: #fff;
  z-index: 100;

  .inner {
    width: 100%;

    div.m {
      menu,
      ul {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-bottom: 15px;
        scroll-snap-type: x mandatory;
        overflow: auto;

        li {
          position: static;
          display: inline-block;
          vertical-align: top;
          margin: 15px 0 0 0;
          scroll-snap-align: start;

          a {
            display: block;
          }

          button {
            position: relative;
            height: 45px;
            padding: 7px 10px 0 10px;
            outline: none;
            border: none;
            background-color: transparent;
            font-size: $t-mid-small;
            color: $c-light-grey;
            cursor: pointer;
            overflow: hidden;
            white-space: nowrap;

            .count {
              position: relative;
              display: inline-block;
              font-size: $t-small;
              margin: 0 0 5px 15px;
              color: $c-light-grey;
            }
            .count::before {
              content: '';
              position: absolute;
              height: 20px;
              width: 0;
              left: -10px;
              top: -2px;
              border-left: 1px dotted $c-light-grey;
            }
            &::after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 3px;
              background-color: $c-light-2;
              transform: translateY(3px);
              transition: transform 0.15s;
            }
          }

          .inner {
            position: relative;

            input[type='text'] {
              position: relative;
              min-width: 100px;
              height: 38px;
              padding: 4.5px 15px 0 15px;
              border: none;
              outline: none;
              background-color: transparent;
              border-bottom: 3px solid transparent;
              font-size: $t-mid-small;
              color: $c-dark-blue;
            }
            label {
              position: absolute;
              left: 15px;
              font-size: $t-mid-small;
              line-height: 1.5em;
              color: $c-light-grey;
              transform: translateY(13.5px);
              transition:
                transform 0.25s,
                font-size 0.25s;

              .count {
                position: relative;
                display: inline-block;
                font-size: $t-small;
                margin: 0 0 5px 15px;
                color: $c-light-grey;
              }
              .count::before {
                content: '';
                position: absolute;
                vertical-align: middle;
                height: 20px;
                width: 0;
                left: -10px;
                top: 0;
                border-left: 1px dotted $c-light-grey;
              }

              &::after {
                content: '';
                position: absolute;
                top: 4px;
                left: 100%;
                margin-left: 10px;
                width: 15px;
                height: 15px;
                background: url('../imgs/icons/i-search-sm.svg');
              }
            }
            input[type='text'] + label {
              width: calc(100% - 50px);
              pointer-events: none;
              white-space: nowrap;
            }
            input[type='text']:focus + label,
            input[type='text'].has-value + label {
              font-size: $t-small;
              line-height: 1.5em;
              transform: translateY(-5px);

              &::after {
                top: 2px;
              }
            }
          }

          .dropdown {
            position: absolute;
            max-height: 0;
            max-width: 300px;
            top: calc(100%);
            background-color: #fff;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
            overflow: auto;
            border-top: 1px solid $c-dark-blue;
            z-index: 100;
            transition: max-height 0.25s ease-out;

            menu {
              display: block;
              width: 100%;
              padding-bottom: 0;
              scroll-snap-type: y mandatory;

              li {
                width: 100%;
                margin: 0;

                a {
                  display: block;
                  position: static;
                  padding: 5px 20px 5px 15px;
                  color: $c-dark-grey;
                  font-size: $t-mid-small;
                  line-height: 1.5em;
                  transform: none;
                  text-align: left;
                  /*white-space: nowrap;*/
                }

                &:hover {
                  background-color: $c-light-3;
                }
              }
            }
          }
        }
        li:hover,
        li.active {
          button {
            &::after {
              transform: translateY(0);
            }
          }
          input[type='text'] {
            border-color: $c-light-2;
          }
        }
        li.active {
          button {
            font-weight: bold;
            color: $c-dark-blue;

            .count {
              font-weight: normal;
            }
            &::after {
              background-color: $c-dark-blue;
            }
          }
          input[type='text'] {
            border-color: $c-dark-blue;
          }
        }
      }
    }

    .btn-group {
      float: right;

      a {
        display: block;
        width: 30px;
        height: 30px;
        margin: 15px 15px 0 0;
        border-radius: 30px;
        border: 1px solid $c-light-grey;
        text-align: center;

        i {
          line-height: 30px;
          font-size: $t-main;
          color: $c-light-grey;
        }
      }
      a.active {
        background-color: $c-dark-blue;
        border-color: $c-dark-blue;

        i {
          color: #fff;
        }
      }
    }
  }
}

header {
  display: block;
  flex: 1 1;
  pointer-events: none;

  &.folded {
    /* LEFT COlUMN IN MAP VIEW */
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 33vw;
    min-height: 100vh;
    background-color: #fff;
    z-index: 1000;
    transform: translateX(calc(-100% - 10px));
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.25s ease-out;
  }
  &.open {
    transform: translateX(0);
  }

  .inner {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    /* width: calc((100vw - (300px * 3 + 15px * 4)) / 2); */
    top: 0;
    z-index: 9999;

    nav#site-title {
      display: block;
      margin-top: 30px;
      pointer-events: all;

      .inner {
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 0;
        width: 100%;
        height: auto;

        .logo-container {
          display: flex;
          justify-content: center;
          width: 100%;
          overflow: hidden;

          img.logo {
            height: 125px;
          }
          .filler {
            flex: 60px 0 1;
          }
        }

        .create,
        .save {
          position: relative;
          margin-top: 31px;

          button {
            /* width: 100px;*/
            min-height: 45px;
            margin: 0;
            padding: 0 30px;
            border: 1px solid $c-dark-blue;
            outline: none;
            background-color: transparent;
            font-size: $t-main;
            cursor: pointer;
          }
          .dropdown {
            display: none;
            position: absolute;
            top: 0;
            left: 100%;
            background-color: #fff;
            z-index: 1000;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
            border-top: 2px solid $c-dark-blue;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;

            ul {
              width: 100%;

              li.filter {
                position: fixed;
                height: 45px;
                width: 100%;
                background-color: #fff;
                border-bottom: 1px solid $c-light-grey;
                z-index: 100;

                input[type='text'] {
                  position: relative;
                  width: calc(100% - 30px);
                  height: 30px;
                  padding: 15px 15px 0 15px;
                  border: none;
                  outline: none;
                  background-color: transparent;
                  font-size: $t-mid-small;
                  color: $c-dark-blue;
                }
                label {
                  position: absolute;
                  left: 15px;
                  /*width: calc(100% - 30px);*/
                  font-size: $t-mid-small;
                  line-height: 1.5em;
                  color: $c-light-grey;
                  transform: translateY(13.5px);
                  transition:
                    transform 0.25s,
                    font-size 0.25s;

                  &::after {
                    content: '';
                    position: absolute;
                    top: 4px;
                    margin-left: 10px;
                    width: 15px;
                    height: 15px;
                    background: url('../imgs/icons/i-search-sm.svg');
                  }
                }
                input[type='text'] + label {
                  pointer-events: none;
                }
                input[type='text']:focus + label,
                input[type='text'].has-value + label {
                  font-size: $t-small;
                  line-height: 1.5em;
                  transform: translateY(2px);
                }
              }
              li.padding {
                width: 100%;
                height: 45px;
              }
              li {
                position: relative;
                max-width: 300px;
                width: 300px;

                img {
                  vertical-align: text-bottom;
                  width: 30px;
                  height: 30px;
                  margin-right: 10px;
                }

                button {
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-start;
                  align-items: center;
                  width: 100%;
                  margin: 0;
                  padding-right: 15px;
                  background-color: transparent;
                  border: none;
                  text-align: left;
                  /* white-space: nowrap; */
                  cursor: pointer;
                  color: $c-light-grey;

                  label {
                    cursor: pointer;
                  }
                  .expandable {
                    margin-left: auto;
                    /* padding-left: 45px;*/
                    cursor: pointer;
                  }
                }
                button:hover {
                  background-color: $c-light-2 !important;
                }
                button.wrapable {
                  flex-direction: column;
                  justify-content: center;
                  align-items: flex-start;
                  width: 300px;
                  white-space: normal;
                  padding-top: 5px;
                  padding-bottom: 5px;

                  .sub {
                    font-size: $t-small;
                    color: $c-light-grey;
                  }
                }
                a {
                  button,
                  button:hover {
                    color: $c-dark-grey;
                  }
                }
                a:hover {
                  text-decoration: none;
                }
                form {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  width: calc(100% - 45px);
                  height: 45px;
                  line-height: 45px;
                  margin: 0;
                  padding: 0 15px 0 30px;
                  text-align: left;
                  white-space: nowrap;
                  cursor: pointer;

                  input[type='file'] {
                    display: none;
                  }
                  input[type='file'] + label {
                    display: block;
                    flex-grow: 1;
                    color: $c-dark-grey;
                    cursor: inherit;
                  }
                }
                .dropdown {
                  display: none;
                  margin-top: -2px;
                }
                .dropdown.leaf {
                  overflow: auto;
                  max-height: 300px;

                  button {
                    font-size: $t-mid-small;
                    line-height: 1.5em;
                  }
                }
              }
              li.open > .dropdown {
                display: block;
                min-height: 45px;
                width: 100%;
              }
              li:hover > button,
              li.open > button,
              li:hover > form,
              li.open > form {
                background-color: $c-light-2 !important;
              }
              li.status-0 {
                button {
                  background: repeating-linear-gradient(
                    -45deg,
                    transparent,
                    transparent 3px,
                    rgba(255, 193, 14, 0.1) 3px,
                    rgba(255, 193, 14, 0.1) 6px
                  );
                }
              }
              li.status-1 {
                button {
                  background: repeating-linear-gradient(
                    -45deg,
                    transparent,
                    transparent 3px,
                    rgba(50, 190, 225, 0.1) 3px,
                    rgba(50, 190, 225, 0.1) 6px
                  );
                }
              }
              /*li.status-2 {
								button {
									background: repeating-linear-gradient(
										-45deg,
										transparent,
										transparent 3px,
										rgba(150, 150, 150, .1) 3px,
										rgba(150, 150, 150, .1) 6px
									);
								}
							}*/
            }
          }
        }
        .create:hover,
        .create.open {
          button {
            background-color: $c-dark-blue;
            color: #fff;
          }
          .dropdown {
            display: block;
          }
        }
        .create:not(.open) {
          /*li {
						.dropdown {
							ul {
								li:hover {
									.dropdown {
										display: block;
									}
								}
							}
						}
					}*/
          li:hover > .dropdown {
            display: block;
          }
          li:hover > button,
          li:hover > form {
            background-color: $c-light-2 !important;
          }
        }
        h1 {
          margin-top: 15px;
          font-size: $t-large;
          line-height: 1.2em;
          margin-bottom: 10px;

          /*small {
						display: block;
						font-size: $t-mid;
						line-height: 1.2em;
						margin-bottom: 5px;
					}*/
        }
        h2 {
          margin: 5px 0;
          font-weight: 300;
          color: $c-light-green;
          font-size: $t-main;
        }
        .search {
          margin-top: 15px;

          button {
            border: none;
            outline: none;
            background-color: transparent;

            img {
              width: 60px;
              height: 60px;
              cursor: pointer;
            }
          }
        }
        .save {
          button {
            background-color: $c-light-blue;
            padding: 0 15px;
            border-color: $c-light-blue;
            color: #fff;
          }
        }
        .save.saved {
          button {
            background-color: $c-mid-blue;
            border-color: $c-mid-blue;
            color: #fff;
          }
        }
      }
    }
    // nav#site-title.public {
    // 	/*margin-top: 90px;*/
    // }
    nav#modules {
      margin-bottom: 120px;
      pointer-events: all;

      menu {
        list-style: none;

        li {
          position: relative;
          text-align: center;

          a {
            display: block;
            width: 100%;
            max-width: 150px;
            margin: auto;
            padding: 15px 0;
            color: $c-light-grey;
          }
          a:hover {
            text-decoration: none;
          }
        }
        li.active {
          a {
            font-weight: bold;
            color: $c-dark-blue;
          }
        }
        li:not(:first-child)::before {
          content: '';
          position: absolute;
          width: 100px;
          height: 0px;
          left: calc(50% - 100px / 2);
          border-top: 1px dotted $c-light-grey;
        }
      }
    }
    nav.pagination {
      margin-bottom: 60px;
      width: 100%;
      pointer-events: all;

      .inner {
        display: initial;
        position: static;

        ul {
          text-align: center;

          li {
            display: inline-block;
            margin: 0 5px;

            a.page-link.active {
              font-weight: 700;
              text-decoration: underline;
            }
          }
          li.disabled {
            color: $c-light-grey;
          }
        }
        ul.padded {
          padding: 0 45px;
        }
      }

      img {
        width: 180px;
        height: auto;
      }
    }
  }
}

.sidebar {
  display: block;
  top: 0;

  & > .inner {
    position: sticky;
    top: 0px;
    height: 100vh;

    #statistics {
      display: grid;
      padding: 45px 45px 0 15px;

      .stat-group {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        padding: 15px 0;

        &:first-child {
          .statistic {
            grid-column: 1 / span 2;
          }
        }

        .statistic {
          text-align: center;

          h1 {
            font-size: $t-xlarge;
            line-height: 1.2em;
            margin-bottom: 0;
          }
          h2 {
            font-size: $t-large;
            line-height: 1.2em;
          }
          small {
            font-size: $t-small;
            line-height: 1.2em;
            color: $c-light-grey;
          }
        }
      }
    }

    #filters {
      overflow: auto;

      .inner {
        padding: 30px;

        p {
          padding: 10px 0 5px 0;
          font-size: $t-main;
          font-style: italic;
          color: $c-light-grey;
        }
        .active-filters {
          width: 100%;
          display: flex;
          flex-wrap: wrap;

          .tag {
            display: inline-block;
            height: calc(#{$t-small} * 1.5);
            padding: 0;
            margin: 2.5px;
            font-size: $t-small;
            line-height: 1.5em;
            border: 1px solid $c-light-grey;
            color: $c-light-grey;
            white-space: nowrap;

            label {
              cursor: pointer;
              vertical-align: top;
            }
            .type {
              font-size: $t-xsmall;
              padding-right: 5px;
              margin: 0 0 0 5px;
              border-right: 1px dotted $c-light-grey;
            }
            .name {
              margin: 0 5px 0 5px;
              white-space: nowrap;
              color: $c-dark-grey;
            }
            .close {
              display: inline-block;
              position: relative;
              width: calc(#{$t-small} * 1.5);
              height: calc(#{$t-small} * 1.5);
              background-color: $c-light-grey;
              float: none;
              transform: none;
              padding: 0;

              &::before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0;
                left: 50%;
                border-left: 1px solid #fff;
                transform: rotate(45deg);
                transform-origin: center;
              }
              &::after {
                content: '';
                position: absolute;
                height: 100%;
                width: 0;
                left: 50%;
                border-left: 1px solid #fff;
                transform: rotate(-45deg);
                transform-origin: center;
              }
            }
          }
        }
      }
    }
  }
}
