<footer class="footer">
    <div class="grid-x">
      <div class="cell medium-10 medium-offset-1">
        <div class="grid-x footer-head">
          <div class="cell medium-5">
            <div class="footer-logo">
              <a>
                <img
                  src="/imgs/branding/UNDP_accelerator_labs_logo_vertical_left_align_white_RGB.png"
                  alt="Logo"
                />
              </a>
              <h5 class="" tabindex="0" data-viewport="false">
                United Nations Development Programme 
              </h5>
            </div>
          </div>
        </div>
        <div class="grid-x grid-margin-x" data-accordion="mobile">
          <div class="cell medium-8">
            <div class="grid-x grid-margin-x footer-items">
              <div class="cell footer-item">
                <button
                  type="button"
                  id="footer-item-1"
                  class="footer-heading desktop-event-none"
                  tabindex="0"
                  aria-controls="footer-panel-1"
                  aria-expanded="false"
                >
                  What we do
                </button>
                <div
                  id="footer-panel-1"
                  class="footer-panel desktop-visible"
                  aria-label="footer-item-1"
                  aria-hidden="false"
                  role="region"
                >
                  <a
                    class="footer-menu-item light"
                    href="https://www.undp.org/acceleratorlabs/aboutus"
                  >
                    About us
                  </a>
                  <a
                    class="footer-menu-item light"
                    href="https://www.undp.org/acceleratorlabs/our-work"
                  >
                    Our work
                  </a>
                  <a
                    class="footer-menu-item light"
                    href="https://www.undp.org/acceleratorlabs/partnerships-core-our-network"
                  >
                    Partnerships: the core of our network
                  </a>
                  <a
                    class="footer-menu-item light"
                    href="https://www.undp.org/acceleratorlabs/our-work/untapped"
                  >
                    UNTAPPED
                  </a>
                  <a
                    class="footer-menu-item light"
                    href="https://www.undp.org/acceleratorlabs/peoplepowered"
                  >
                    Grassroots Energy Solutions
                  </a>
                </div>
              </div>
              <div class="cell footer-item">
                <button
                  type="button"
                  id="footer-item-2"
                  class="footer-heading desktop-event-none"
                  tabindex="0"
                  aria-controls="footer-panel-1"
                  aria-expanded="false"
                >
                  Where we are
                </button>
                <div
                  id="footer-panel-1"
                  class="footer-panel desktop-visible"
                  aria-label="footer-item-1"
                  aria-hidden="false"
                  role="region"
                >
                  <a
                    class="footer-menu-item light"
                    href="https://www.undp.org/acceleratorlabs/our-locations"
                  >
                    Our Locations
                  </a>
                </div>
              </div>
              <div class="cell footer-item">
                <button
                  type="button"
                  id="footer-item-3"
                  class="footer-heading desktop-event-none"
                  tabindex="0"
                  aria-controls="footer-panel-1"
                  aria-expanded="false"
                >
                  Our Learnings
                </button>
                <div
                  id="footer-panel-1"
                  class="footer-panel desktop-visible"
                  aria-label="footer-item-1"
                  aria-hidden="false"
                  role="region"
                >
                  <a
                    class="footer-menu-item light"
                    href="https://www.undp.org/acceleratorlabs/globalpublications"
                  >
                    Global Publications
                  </a>
                  <a
                    class="footer-menu-item light"
                    href="https://www.undp.org/acceleratorlabs/localpublications"
                  >
                    Country Publications
                  </a>
                  <!-- <a
                    class="footer-menu-item light"
                    href="https://www.undp.org/acceleratorlabs/blog"
                  >
                    Blog
                  </a> -->
                </div>
              </div>
              <div class="cell footer-item">
                <button
                  type="button"
                  id="footer-item-4"
                  class="footer-heading desktop-event-none"
                  tabindex="0"
                  aria-controls="footer-panel-1"
                  aria-expanded="false"
                >
                  News
                </button>
                <div
                  id="footer-panel-1"
                  class="footer-panel desktop-visible"
                  aria-label="footer-item-1"
                  aria-hidden="false"
                  role="region"
                >
                  <a
                    class="footer-menu-item light"
                    href="https://www.undp.org/acceleratorlabs/news-updates"
                  >
                    News center
                  </a>
                  <a
                    class="footer-menu-item light"
                    href="https://www.undp.org/acceleratorlabs/events"
                  >
                    Events
                  </a>
                  <a
                    class="footer-menu-item light"
                    href="https://www.undp.org/acceleratorlabs/newsletters"
                  >
                    Newsletters
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="cell medium-4">
            <ul class="footer-links">
              <li><a href="https://www.undp.org/acceleratorlabs">About Us</a></li>
              <li>
                <a href="https://www.undp.org/accountability/audit/investigations"
                  >Report Fraud, Abuse, Misconduct</a
                >
              </li>
              <li>
                <a href="https://www.undp.org/scam-alert">Scam Alert</a>
              </li>
              <li>
                <a href="https://www.undp.org/copyright-terms-use"
                  >Terms Of Use</a
                >
              </li>
            </ul>
            <ul class="footer-icons">
              <li>
                <a
                  href="https://www.linkedin.com/company/undp-accelerator-labs"
                  class="linkedin"
                  title="LinkedIn"
                  >linkedIn</a
                >
              </li>
              <li>
                <a
                  href="https://www.instagram.com/acceleratorlabs/"
                  class="instagram"
                  title="Instagram"
                  >instagram</a
                >
              </li>
              <li>
                <a
                  href="https://twitter.com/UNDPAccLabs"
                  class="twitter"
                  title="Twitter"
                  >twitter</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-copyright">
          <p tabindex="0">
            © 2024 UNDP Accelerator Labs
          </p>
        </div>
      </div>
    </div>
  </footer>