@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/base-minimal.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/country-site-header.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/language-switcher.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/menu.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/mega-menu.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/mobile-nav.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/homepage-hero.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/breadcrumbs.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/headingbig.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/content-card.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/content-card-with-and-without-image.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/featured-content-card.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/cta-link.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/page-wide-card.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/image-card.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/image-reveal-cards.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/stats.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/stats-cards.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/stats-slider.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/input-fields.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/buttons.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/newsletter-signup.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/accordion.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/footer.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/templates/countryhome-page.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/templates/article-page.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/swiper.min.css");
@import url("https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/pagination.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/filter-and-search-bar.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/multi-select.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/checkbox.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/radio.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/search-expand.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/chips.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/templates/generic-page.min.css");
@import url("https://cdn.jsdelivr.net/npm/@undp/design-system/docs/css/components/homepagehero.min.css");
* {
  font-family: "Noto Sans", sans-serif !important;
}

.toast {
  position: fixed;
  top: 25px;
  right: 25px;
  max-width: 300px;
  background: #fff;
  padding: 0.5rem;
  border-radius: 4px;
  box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 10001;
  animation: slideInRight 0.3s ease-in-out forwards, fadeOut 0.5s ease-in-out forwards 3s;
  transform: translateX(110%);
}

.toast.closing {
  animation: slideOutRight 0.5s ease-in-out forwards;
}

.toast-progress {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: #b7b7b7;
  animation: toastProgress 3s ease-in-out forwards;
}

.toast-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toast-icon {
  padding: 0.35rem 0.5rem;
  font-size: 1.5rem;
}

.toast-message {
  flex: 1;
  font-size: 0.9rem;
  color: #000000;
  padding: 0.5rem;
}

.toast.toast-success {
  background: #b4dc28;
}

.toast.toast-success .toast-progress {
  background-color: #fff;
}

.toast.toast-danger {
  background: #efaca5;
}

.toast.toast-danger .toast-progress {
  background-color: #fff;
}

.toast.toast-info {
  background: #bddaed;
}

.toast.toast-info .toast-progress {
  background-color: #fff;
}

.toast.toast-warning {
  background: #ead994;
}

.toast.toast-warning .toast-progress {
  background-color: #fff;
}

@keyframes slideInRight {
  0% {
    transform: translateX(110%);
  }
  75% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideOutRight {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(110%);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes toastProgress {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
.loader {
  display: block;
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.loader::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/*# sourceMappingURL=dispatch.css.map */
