<div class="homepage-hero-full">
    <div class="overlay-grey">
      <img
        src="https://design.undp.org/static/media/field.1727a494.jpg"
        alt="banner"
      />
    </div>
    <div class="grid-x homepage-hero-content">
      <div class="cell large-7 medium-9 medium-offset-1">
        <h1 class="color-white" tabindex="0" data-viewport="true">
            Insights Hub: Unleashing Knowledge Synergy.
        </h1>
        <h4 class="color-white" tabindex="0" data-viewport="true">
            Discover curated blogs and articles fostering collaboration, innovation, and continuous learning across the Accelerator lab networks.
        </h4>
        <a class="button button-primary button-arrow" role="button" href="/browse">
            Explore Now
        </a>
      </div>
    </div>
  </div>
  